development:
  adapter: postgresql
  encoding: unicode
  database: agenda-core_development
  username: {username}

test:
  adapter: postgresql
  encoding: unicode
  database: agenda-core_test
  username: {username}

production:
  adapter: postgresql
  encoding: unicode
  database: agenda-core_production
  username: {username}

